
.adm_container{
   display: flex;
}

.sidebar_titulo{
    font-size: 30px;
    color: var(--texto);
}
.barra_lateral{
    background-color: var(--claro2);
    width: 20%;
    border-right: solid 5px var(--claro);
    overflow-x: hidden;
    box-shadow: 0 0.625rem 1.25rem 0 #00000086;
    position: sticky;
    top: 0;
    height: 680px;
}
.content_lateral{
    margin-top: 5rem;
}
.lateral_options a{
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
}

.container_central{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo_central{
    font-size: 30px;
    margin: 2rem;
    color: var(--texto);
}
.diretor_pag{
    background-color: var(--claro2);
    padding: 5rem;
    border-radius: 1.25rem 0.625rem;
    box-shadow: 0 0 1.5625rem var(--shadowBox);
}
.diretor_pag p{
    font-size: 20px;
    margin-bottom: 5%;
}

.td_simbolo{
    text-align: center;
}
.conteudo_tabela_adm{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9rem;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.conteudo_tabela_adm thead tr{
    background-color: var(--claro);
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.conteudo_tabela_adm th, .conteudo_tabela_adm td{
    padding: 12px 15px;
}

.conteudo_tabela_adm tbody tr{
    border-bottom: 1px solid #ddd;
}

.conteudo_tabela_adm tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.conteudo_tabela_adm tbody tr:last-of-type{
    border-bottom: 2px solid var(--claro);
}

.conteudo_tabela_adm td{
    font-size: 1rem;
}

.material-symbols-outlined{
    color: #000;
}


