.adm_container{
   display: flex;
}

.sidebar_titulo{
    font-size: 30px;
    color: var(--texto);
}
.barra_lateral{
    background-color: var(--claro2);
    width: 20%;
    border-right: solid 5px var(--claro);
    overflow-x: hidden;
    box-shadow: 0 0.625rem 1.25rem 0 #00000086;
    position: sticky;
    top: 0;
    height: 650px;
    padding-top: 2rem;
}
.lateral_options a{
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
}

.container_central{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo_central{
    font-size: 30px;
    margin: 2rem;
    color: var(--texto);
}
.diretor_pag{
    background-color: var(--claro2);
    padding: 5rem;
    border-radius: 1.25rem 0.625rem;
    box-shadow: 0 0 1.5625rem var(--shadowBox);
}
.diretor_pag p{
    font-size: 20px;
    margin-bottom: 5%;
}

table{
    border-collapse: collapse;
}
td, th{
    border: solid 0.5px;
    padding: 10px 30px;
}
thead{
    background-color: var(--claro);
}

