.index_fundo{
    height: 100vh;
}
.titulo_editar_script{
    color: var(--texto);
    font-size: 20px;
    margin: 5%;
}
.container_input_editar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_editar{
    width: 50%;
    background-color: var(--claro2);
    border-radius: 1.25rem 0.625rem;
}
.content_inputscript{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 3rem;
}
.inputscript{
    border: none;
    padding: 7px;
    border-radius: 15px;
}
.button_editar{
    border: none;
    font-size: 18px;
    background-color: var(--claro);
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 1.75rem;
}
.button_editar:hover{
    transition: 2s;
    background-color: #966400;
}
.container_button{
    display: flex;
    flex-direction: row-reverse;
}
.button_editar{
    margin: 3%;
}