.index_container{
    background-color: var(--fundo);
}

html{
    scroll-padding-top: 135px;
}

.cabecalho_container{
    top: 0;
    width: 100%;
    z-index: 2; 
    box-shadow: 0 0.625rem 0.625rem 0 var(--shadowBox);
}

.cabecalho_container.sticky{
    position: fixed;
    animation: slideDown 0.5s ease-out;
}

.cabecalho_superior_container{
    display: flex;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    background-color: var(--escuro);
    height: 12vh;
}
.cabecalho_superior_container.sticky{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--escuro);
    height: 12vh;
}

.cabecalho_superior_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 31%;
    margin-right: 3%;
}

.cabecalho_titulo{
    font-size: 40px;
    float: left;
    color: var(--texto);
}

.cabecalho_pesquisar{
    border-style: none;
    border-radius: 1.25rem;
    padding: 0.75rem 1rem;
}

.cabecalho_cadastro{
    border-style: none;
    border-radius: 1.25rem;
    padding: 0.75rem 2rem;
    background-color: #4f663d;
}
.cabecalho_cadastro:hover{
    background-color: #415333;
    transition: 0.2s;
}

.cabecalho_entrar{
    border-style: none;
    border-radius: 1.25rem;
    padding: 0.75rem 2rem;
    background-color: var(--claro);
}
.cabecalho_entrar:hover{
    background-color: #966400;
    transition: 0.2s;
}

.cabecalho_inferior_container{
    width: 100%;
    background-color: var(--claro);
}

.cabecalho_inferior_nav{
    color: var(--texto);
}

.cabecalho_inferior_nav:hover{
    background-color: var(--navbarHover);
    transition: 0.2s;
    transform: scale(1.1, 1.1);
}

.navbar_titulo_premium{
    text-align: center;
}

.navbar_titulo, .navbar_titulo_premium{
    color: var(--texto);
}



/*------------------------------PRINCIPAL-----------------------------------*/
.carousel_conteudo::-webkit-scrollbar {
    width: 0;
}

.carousel_conteudo {
    scrollbar-color: transparent transparent; 
    scrollbar-width: 0px;
    position: relative;
    display: flex;
    justify-content: center;
}

.carousel {
    width: 80%;
    position: relative;
    overflow: hidden;
    height: 500px;
    border-radius: 1.25rem 0.625rem;
}
.viewport{
    position: relative;
    display: flex;
    flex-direction: row;
    transition: transform 1s ease-in-out;
}
.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    min-width: 100%;
    height: 500px;
    
    
    background-color: var(--claro3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_slide{
    position: absolute;
    top: 50%;
    border: none;
    font-size: 24px;
    background: none;
    cursor: pointer;
    color: var(--claro);
}
.button_slide:hover{
    transition:  0.3s;
    transform: scale(1.9);
}
.prev{
    left: 0;
}
.next{ 
    right: 0;
}

/*----*/

.conteudo_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.conteudo_container:last-child{
    margin-bottom: 0;
}

.conteudo_atualizacoes{
    background-color: var(--claro3);
    height: 25rem;
    width: 80%;
    margin: 3%;
    border-radius: 1.25rem 0.625rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_index_atualizacao{
    width: 100%;
    border-radius: 1.25rem 0.625rem;
}

.indexImagem{
    width: 33%;
    height: 51vh;
    border-radius: 1.25rem 0.625rem;
}

.conteudo_tabela{
    width: 80%;
}

.conteudo_cards_container{
    max-width: 5rem;
    height: 25rem;
    background-color: var(--claro3);
    border-radius: 1.25rem 0.625rem;
}

.conteudo_cards_container:not(.final):hover, .conteudo_cards_item_container:not(.final):hover{
    transition: 0.2s;
    transform: scale(1.1, 1.1);
    background-color: var(--fundoCards);
    box-shadow: 0 0 1.5625rem var(--shadowBox);
}

.conteudo_imagem{
    width: 100%;
    /*height: auto;**/
    height: 350px;
}
.conteudo_cards_titulo{
    font-size: 18px;
    letter-spacing: 1px;
    text-align: start;
    margin: 2px 2px 0 2px
}
.conteudo_descricao{
    font-size: 14px;
    letter-spacing: 1px;
    text-align: justify;
    margin: 0 7px 7px 7px;
}

.conteudo_lermais{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.conteudo_cards_item_container{
    width: 5rem;
    height: 18.75rem;
    background-color: var(--claro3);
    border-radius: 1.25rem 0.625rem;
}

.conteudo_premium{
    background-color: var(--escuro);
    height: 25rem;
    width: 80%;
    margin: 3%;

    margin-bottom: 10%;
    border-radius: 1.25rem 0.625rem;
}

.conteudo_sobrenos{
    background-color: var(--escuro);
    height: 25rem;
    width: 100%;
}

.sobrenos_container{
    margin: 3%
}