@font-face {
    font-family: Minecraft;
    src: url(../fonts/Monocraft.ttf);
}

:root{
    --texto: #ffffff;
    --escuro: #627E4C;
    --escuro2: #545454;
    --claro: #C98700;
    --claro2: #B9B9B9;
    --claro3: #d5d5c8;
    --fundo: #979797;
    --preto: #000000;
    --shadowBox: #00000086;
    --navbarHover: #966400;
    --fundoCards: #acacac;
}

    .tabela{
    border-style: solid;
    border-color: var(--fundo);
}
.slot{
    border-style: solid;
    color: var(--preto);
}
.tabela{
    background-color: var(--claro3);
}
body{
    display: flex;
}
.slot{
    
    height: 12px;
    width: 12px;
    position: relative;
    cursor: pointer;
    background-color: var(--fundo);
}
.cont{
    position: absolute;
    z-index: 2;
    white-space: nowrap;  
    top: 40%;
    font-size: 16px;
    text-shadow: 1.5px 1px #000;
    text-align: right;
    width: 100%;

}
.cont, .nomeBloco{
    font-family: Minecraft;
    color: var(--texto);
    
}
.popnull, .nomeBloco{
    position: absolute;
    top: 260%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s ease;
    background-color: #2d0057;
    border-color: #8a2be2;
    border-style: solid;
    border-radius: 7px;
    padding: 0px 10px;
    z-index: 1;
}
.slot:hover .nomeBloco{
    top: 130%;
    visibility: visible;
    opacity: 1;
    z-index: 3;
    
}
.slot:hover{
    background-color: #9999;
}