.conteudo_lermais{
    top: 0;
    display: flex;
    flex-flow: row wrap;
    
}
.lermais_tudo{
    display: flex;
    flex-direction: row;

}
.titulo_lermais{
    margin: 7% 0 2% 2%;
    color: var(--texto);
}
.lermais{
    width: 300px;
    text-align: center;
    margin: 2%;
}

.lateral{
    background-color: var(--claro2);
    width: 50%;
    border-left: solid 5px var(--claro);
    overflow-x: hidden;
    box-shadow: 0 10px 20px 0 #00000086;

    position: sticky;
    top: 0;
    height: 780px;
}
.cont_lateral{
    margin-top: 50%;
    
}
.cont_lateral p{
    margin-left: 10%;
    font-size: 24px;
}
.lateral_select{
    display: flex;
    flex-direction: column;
    margin: 10%;
}
.selects{
    margin-top: 10%;
    border: none;
    border-radius: 5px;
    padding: 10px;
}





