*{
    margin: 0;
    padding: 0;
    border: 0;
}
.index_fundo_mod{
    background-color: var(--fundo);
    height: auto;
}

.container_modelo{
    min-height: 56.25rem;
    height: fit-content;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 80%;
}
.container_modelo_align{
    display: flex;
    flex-direction: row;
}

.container_principal{
    display: flex;
    width: 75%;
    background-color: var(--fundoCards);
    min-height: 250vh;
    height: fit-content;
    
}

.principal_conteudo{
    text-align: justify;
    margin: 5% 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.titulo_principal{
    margin: 1rem;
}

.container_sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--claro2);
    box-shadow: 0 0.625rem 1.25rem 0 #00000086;
    border-left: solid 5px var(--claro);
    
    right: 0;
    top: 0;
    position: sticky;
    width: 20%;
}


.container_sidebar_conteudo{
    margin: 10rem 0 0 5%;
}

.sidebar_titulo, .sidebar_requisitos_titulo{
    text-align: left;
    margin: 1rem;
}
.sidebar_requisitos_lista{
    margin-left: 10%;
    letter-spacing: 1px;
    font-size: 18px;
}

.requisitos_lista{
    list-style-type: none;
}

.requisitos_lista li:before{
    content: "x ";
}

.imagemModelo{
    width: 50rem;
    height: 25rem;
}

