.container_perfil{
    display: flex;
    flex-direction: row;
}
.container_perfilimagem{
    margin: 2rem;
    display: flex;
    flex-direction: column;
}
.perfil_usuario{
    width: 200px;
    height: 200px;
}
.container_alterarfoto{
    display: flex;
    justify-content: center;
}

.container_perfilinfo{
    display: flex;
    flex-direction: column;
}
.nome_usuario{
    font-size: 24px;
    margin: 1rem;
}
.editarperfil_button{
    margin-left: 1rem;
    width: 7.5rem;
    height: 2rem;
    background-color: var(--claro);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
}
.editarperfil_button:hover{
    background-color: #966400;
    transition: 0.2s;
}