.index_fundo{
    height: 100vh;
}
.container_perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.content_perfil{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    background-color: var(--claro2);
    border-radius: 1.25rem 0.625rem;
    box-shadow: 0 0.625rem 0.625rem 0 #00000086;
}
.perfil_alinhamento{
    display: flex;
    flex-direction: row;
}
.container_perfilimagem{
    margin: 2rem;
    display: flex;
    flex-direction: column;
}
.perfil_usuario{
    width: 200px;
    height: 200px;
    background-color: var(--fundoCards);
    border-radius: 1.25rem 1.25rem 0 0;
}
.container_alterarfoto{
    display: flex;
    justify-content: center;
    background-color: var(--claro3);
    color: var(--escuro2);
    padding: 0.25rem;
    border-radius: 0 0 1.25rem 1.25rem;
    cursor: pointer;
}
.container_alterarfoto:hover{
    transition: 0.2s;
    background-color: #ebebeb;
}

.container_perfilinfo{
    display: flex;
    flex-direction: column;
}
.container_usuario{
    margin: 1rem;
}
.nome_usuario{
    font-size: 24px;
}
.editarperfil_button{
    margin: 0.5rem;
    width: 7.5rem;
    height: 2rem;
    background-color: var(--claro3);
    color: var(--escuro2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
}
.editarperfil_button:hover{
    background-color: #ebebeb;
    transition: 0.2s;
}
.import_invent{
    margin: 1.5rem;
    background-color: var(--fundoCards);
    border-radius: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.import_invent p{
    font-size: 18px;
    margin: 1rem;
}
.invent_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.invent_buttons > label{
    margin: 1rem;
    padding: 1rem;
    color: var(--texto);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
}
.button_enviar_inventario{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 50%;
}
.button_mostrar_inventario{
    margin: 1rem;
    width: 50%;
}
.invent_imp{
    border-radius: 1.5rem 1.5rem 0 0 ;
    padding: 0.75rem;
    background-color: var(--claro3);
    text-align: center;
    cursor: pointer;
}
.invent_imp:hover{
    transition: 0.2s;
    background-color: #fff;
}
.enviar_inventario{
    border: none;
    background: var(--claro);
    padding: 1rem;
    border-radius: 0 0 1.5rem 1.5rem;
    font-size: 15px;
    cursor: pointer;
}
.enviar_inventario:hover{
    transition: 0.2s;
    background-color: var(--navbarHover);
}
.container_button_mostinvent{
    background-color: var(--fundo);
    border-radius: 1.5rem;
    padding: 1.75rem;
    cursor: pointer;
}
.container_button_mostinvent:hover{
    transition: 0.2s;
    background-color: #6e6e6e;
}
