*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-decoration: none;
    scroll-behavior: smooth;
    
}
:root{
    --texto: #ffffff;
    --escuro: #627E4C;
    --escuro2: #545454;
    --claro: #C98700;
    --claro2: #B9B9B9;
    --claro3: #d5d5c8;
    --fundo: #979797;
    --preto: #000000;
    --shadowBox: #00000086;
    --navbarHover: #966400;
    --fundoCards: #acacac;
}


/*teste
:root{
    --cor: #676767;
}
.img-cad{
    border-radius: 100%;
    height: 100%;
    border-style: solid;
    border-color: var(--cor);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon {
    border-width: 7px;
}
.img-cad-head-icon{
    border-style: solid;
    border-color: var(--cor);
    width: 37.5%;
    height: 100%;
    border-radius: 100%;
    margin-top: 0;
}
.img-cad-head{
    height: 37.5%;
    width: 100%;
    justify-content: center;
    display: flex;
}
.img-cad-body-icon{
    position: relative;
    bottom: 0;
    border-style: solid;
    border-color: var(--cor);
    width: 70%;
    height: 100%;
    margin-top: 11%;
    border-end-start-radius: 190px 125px;
    border-end-end-radius: 190px 125px;
    border-start-start-radius: 32px;
    border-start-end-radius: 32px;
}
.img-cad-body{
    height: 37.5%;
    width: 100%;

    justify-content: center;
    display: flex;
}
/*teste*/
.index_fundo{
    background-color: var(--fundo);
}

.fundo{
    background-color: var(--escuro);
}
a{
    color: var(--texto);
}

/*cabecalho*/
.cabecalho_container{
    top: 0;
    width: 100%;
    z-index: 1; 
    box-shadow: 0 0.625rem 0.625rem 0 var(--shadowBox);
}
.r{
    position: relative;
}
.s{
    position: sticky;
}

.cabecalho_container.sticky{
    position: fixed;
    animation: slideDown 0.5s ease-out;
}

.cabecalho_superior_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--escuro);
    height: 12vh;
}

.cabecalho_superior_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 31%;
    margin-right: 3%;
}

.cabecalho_titulo{
    font-size: 40px;
    float: left;
    color: var(--texto);
}

.cabecalho_pesquisar{
    border-style: none;
    border-radius: 1.25rem;
    padding: 0.75rem 1rem;
}

.container_navbar_cadastro{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.cabecalho_cadastro{
    border-style: none;
    border-radius: 1.25rem;
    padding: 0.75rem 2rem;
    background-color: #4f663d;
}
.cabecalho_cadastro:hover{
    background-color: #415333;
    transition: 0.2s;
}

.cabecalho_entrar{
    border-style: none;
    border-radius: 1.25rem;
    padding: 0.75rem 2rem;
    background-color: var(--claro);
}
.cabecalho_entrar:hover{
    background-color: #966400;
    transition: 0.2s;
}

.imagem_fotoPerfil{
    width: 3rem;
    height: 3rem;
}

.cabecalho_inferior_container{
    width: 100%;
    background-color: var(--claro);
}

.cabecalho_inferior_nav{
    color: var(--texto);
}

.cabecalho_inferior_nav:hover{
    background-color: var(--navbarHover);
    transition: 0.2s;
    transform: scale(1.1, 1.1);
}

.navbar_titulo_premium{
    text-align: center;
}

.navbar_titulo, .navbar_titulo_premium{
    color: var(--texto);
}

.navbar_titulo{
    margin: 3%;
    color: var(--texto);
}

@keyframes slideDown{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

p{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/**/

.esquerda{
    float: left;
}
.direita{
    float: right;
    margin: 1.5%;

    padding: 8px;
}
.direita2{
    float: right;
    margin-right: 1.5%;
}
.caixa_texto{
    border-style: none;
    border-radius: 20px;
    padding: 10px;
}
.caixa_texto_grande{
    border-style: none;
    border-radius: 22px;
    padding: 15px;
    margin: 20px;
}
.entrar{
    background-color: var(--claro);
    border-radius: 20px;
    padding: 10px;
    min-width: 70px;

    text-align: center;
}
.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cont_att{
    background-color: var(--claro3);

    height: 400px;
    width: 80%;
    margin: 3%;

    display: flex;
    align-items: center;
    justify-content: center;  

    border-radius: 20px 10px 20px 10px;

}
.cont_row{
    width: 80%;

    margin-bottom: 3%;
    
}
.cont_premium{
    background-color: var(--escuro);
    height: 400px;
    width: 80%;

    margin: 3%;
    margin-bottom: 10%;

    border-radius: 20px 10px 20px 10px;

}
.ler-mais{
height: 100%;
width: 100%;
}
.premium{
    margin: 3%;
}
.cont, .cont_masc{
    width: 80px;
    height: 400px;
}
.cont{
    background-color: var(--claro3);
    /*cursor: pointer;*/
    border-radius: 20px 10px 20px 10px;

}
.cont:not(.final):hover, .cont_menor:not(.final):hover{
    transition: 0.2s;
    transform: scale(1.1, 1.1);
    background-color: #acac98;
    box-shadow: 0 0 25px #00000086;
}

.final{
    background-image: linear-gradient(to right, var(--claro3), var(--fundo) 80%);
}
.final:hover{
    transition: 0.2s;
    background-image: none;
    background-color: var(--claro);
    box-shadow: 0 0 10px #00000086;
    padding:0 25px 0 25px;

    font-size: 20px;
    color: var(--texto);
}

.cont_img{
    width: 100%;
    height: 200px;
    
}
.cont_menor, .cont_menor_masc{
    width: 80px;
    height: 300px;
}
.cont_menor{
    background-color: var(--claro3);

    border-radius: 20px 10px 20px 10px;

}


.cont_sobrenos{
    background-color: var(--escuro);
    height: 400px;
    width: 100%;

}
.sobrenos{
    margin: 3%;
}

/*login*/

.conteudo_tudo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont_esquerda{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 5%;
}
.cont_direita{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}
.cont_input{
    display: flex;
    flex-direction: column;
    background-color: var(--claro3);
    padding: 50px;
    height: 80%;

    border-radius: 20px 10px 20px 10px;
    box-shadow: 0 10px 10px 0 #00000086; 
}

.cont_input_esquerda{
    display: flex;
    flex-direction: column;
    background-color: var(--claro3);
    padding: 50px;
    height: 80%;
    border-radius: 20px 10px 20px 10px;
    box-shadow: 0 10px 10px 0 #00000086;
}

.cont_botoes{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 20px;
}
.botao_cadastro{
    display: flex;
    align-items: center;

    color: var(--claro);
}

.sublinhado{
    margin-top: 5%;
    font-size: 12px;

    text-decoration: underline;
    color: var(--escuro2);
}
.cadastro, .botao_cadastro, .cad{
    color: var(--claro);
    border-radius: 20px;
}
.botao{
    background-color: var(--claro);
    border: none;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
}
.imagem{
    width: 200px;
    height: auto;
}

/*cadastro*/

.alinhamento_input{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #000000;
}
.notif_cont{
    display: flex;
    flex-direction: row;
    margin: 5%;
}
.cadastro2, .login2{
    height: 100vh;
}
.login2{
    flex-direction: row;

}
.cadastro2{
    flex-direction: column;
    
}
.notif_check{
    border: none;
    border-radius: 20px;
}
.perfil{
    display: flex;
    flex-direction: column;
    background-color: var(--claro3);
    padding: 50px;
    height: 65vh;
    border-radius: 20px 10px 20px 10px;
    box-shadow: 0 10px 10px 0 #00000086;
    
}
.cad_pedido{
    font-size: 16px;
    color: var(--escuro2);

}
.fotoperfil{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
